body {
    padding: 0;
    margin: 0;
    background-color: #333;
}

#editorContainer {
    position: absolute;
    left: 0;
    top: 3rem;
    width: 49%;
    height: calc(100% - 3rem);
}

#simContainer {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
}

#runButton {
    position: absolute;
    left: calc(49% - 4rem);
    top: 0;
    width: 4rem;
    height: 3rem;
    color: white;
    background-color: #4f8cbd;
    padding: 0;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 1px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    height: 3rem;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}